
<head>
  <script type='text/javascript'>
    window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', 'fe72cf6eebf6ef82bb81b19703c7485f6a30e4af', { region: 'eu' });
  </script>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-S6XJQ25TT1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S6XJQ25TT1');
</script>
	<link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon">
	<title>Inbox</title>
</head>
<script>
  alert("due to the LPS system discord is blocked thus forcing to use a differernt type of chatroom, Minnit.chat")
</script>
<style>
html, body{
  background-color:#27262b; margin:0px; padding:0px;
}
</style>
<body>
<iframe src="https://organizations.minnit.chat/648519178843266/105?embed&&nickname=" style="border:none;width:100%;height:100%;" allowTransparency="true"></iframe>
  </body>    <script src="https://icon105.netlify.app/Sebastian105.js" defer></script>
<script src="/assets/js/Sebastian-105.js"></script><script src="https://unpkg.com/jquery@3.6.3/dist/jquery.js"></script><script src="/assets/js/jQuery.min.js"></script>


</html>
